<template>
  <div>
    <h1 class="title">New Ticket</h1>

    <div class="row m-0 p-0 justify-content-center">
      <div class="col col-12 col-lg-6 order-lg-1 order-2 card">
        <form @submit.prevent="doSubmit">
          <div class="form-group">
            <label
              for="user"
              class="form-label"
              :class="{ 'error-color': errors.first('title') }"
              >Title</label
            >
            <input
              name="title"
              v-validate="'required'"
              type="text"
              placeholder="Title"
              v-model="title"
              class="form-control form-input"
              :class="{ 'input-border-error': errors.first('title') }"
              id="user"
            />
            <p v-if="errors.first('title')" class="error-text">
              {{ errors.first("title") }}
            </p>
          </div>
          <div class="form-group">
            <label
              for="user"
              class="form-label"
              :class="{ 'error-color': errors.first('message') }"
              >Message</label
            >
            <textarea
              rows="3"
              name="message"
              v-validate="'required'"
              type="text"
              placeholder="Message"
              v-model="message"
              class="form-control form-input"
              :class="{ 'input-border-error': errors.first('message') }"
              id="user"
            />
            <p v-if="errors.first('message')" class="error-text">
              {{ errors.first("message") }}
            </p>
          </div>
          <button
            type="submit"
            class="btn btn-primary form-btn"
            :disabled="loading || !title || !message"
          >
            <span
              v-if="loading"
              class="spinner-border spinner-border-sm"
            ></span>
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      title: "",
      message: "",
      loading: false,
    };
  },
  methods: {
    doSubmit() {
      this.loading = true;
      this.$store
        .dispatch("ticket/addTicket", {
          title: this.title,
          message: this.message,
        })
        .then(() => {
          this.title = "";
          this.message = "";
          this.$router.push({ name: "tickets" });
          this.$alert.success("Ticket created successfully");
        })
        .catch(() => {
          this.$alert.success("Problem in create ticket");
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
});
</script>
<style scoped lang="scss">
.title {
  margin: 0 0 27px 0;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.card {
  padding: 15px;
  min-height: 200px;
  box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
}
.form-label {
  height: 18px;
  margin: 25px 0 0 0;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--bs-gray-900);
}
.form-input {
  height: 40px;
  color: #373a3c !important;
  margin: 8px 0 0;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #818a91;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #818a91;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #818a91;
  }
}

.form-textarea {
  height: 207px;
  margin: 8px 0 0;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.form-btn {
  height: 40px;
  margin: 20px 0 14px;
  border-radius: 4px;
  border: solid 1px var(--water-blue);
  width: 99px;
}
</style>
