<template>
  <div>
    <h1 class="title">All Tickets</h1>
    <div v-if="loading" style="height: 5px" class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        style="width: 100%; height: 5px"
      ></div>
    </div>
    <div class="row">
      <div
        class="col col-md-6 col-12"
        v-for="(ticket, index) in tickets"
        :key="'ticket' + index"
      >
        <div
          class="card d-flex flex-column justify-content-between flex-md-row"
        >
          <div>
            <p class="card__title">{{ ticket.title }}</p>
            <p class="card__body">‫‪{{ first30word(ticket.message) }}</p>
          </div>
          <div
            class="
              d-flex
              flex-md-column
              justify-content-between
              align-self-between
            "
          >
            <p class="card__date m-0">
              ‫‪{{ ticket.created_at | formatDate }}
              <span
                class="badge"
                :class="getStatusClass(ticket.status)"
                style="margin-left: 10px"
                >{{ ticket.status }}</span
              >
              ‬‬
            </p>
            <p class="card__card-status m-0">
              <router-link
                :to="{ name: 'ticket-detail', params: { id: ticket.id } }"
                class="btn btn-success btn-sm"
              >
                ‬‬
                <i class="fas fa-eye"></i>
                detail
              </router-link>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="!tickets.length && !loading"
      class="alert alert-secondary text-center"
    >
      no Data found
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      loading: true,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.$store
        .dispatch("ticket/list")
        .catch(() => {
          this.$alert.error("Problem in fetch Tickets");
        })
        .finally(() => {
          this.loading = false;
        });
    },

    first30word(text: string) {
      let words = text.split(" ");
      return words.slice(0, 20).reduce((result, word) => {
        return result + " " + word;
      });
    },
    getStatusClass(status: string) {
      if (status === "pending") return "bg-secondary";
      else if (status === "closed") return "bg-danger";
      else return "bg-success";
    },
  },
  computed: {
    tickets() {
      return this.$store.state.ticket.list;
    },
  },
});
</script>
<style scoped lang="scss">
.title {
  margin: 0 0 27px 0;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.card {
  margin-bottom: 40px;
  padding: 15px;
  min-height: 200px;
  box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -2px 6px 15px -11px rgba(0, 0, 0, 0.76);
  &__title {
    font-weight: bold;
    line-height: 1.3;
    font-size: 18px;
  }
  &__body {
    padding: 0 10px;
  }
  &__date {
    font-size: 14px;
    text-align: right;
    color: var(--bs-gray-500);
    .badge {
      font-weight: 500;
    }
  }
  &__card-status {
    text-align: right;
    color: var(--bs-gray-500);
  }
}
</style>
