<template>
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="title">Ticket {{ $route.params.id }}</h1>
      <button class="btn btn-danger" @click="closeTicket">
        <span
          v-if="closeTicketLoading"
          class="spinner-border spinner-border-sm"
        ></span>
        Close Ticket
      </button>
    </div>
    <template v-if="loadData">
      <div class="spinner-border text-primary"></div>
      <span class="mr-2">Loading...</span>
    </template>
    <template v-else>
      <div
        class="
          ticket
          card
          d-flex
          justify-content-between
          flex-row
          align-items-around
        "
      >
        <div>
          <p class="ticket__title">‫‪{{ ticket.title }}‬‬</p>
          <p class="ticket__body">‫‪{{ ticket.message }}‬‬</p>
        </div>
        <div
          class="d-flex flex-column justify-content-between align-items-around"
        >
          <p class="ticket__date m-0">
            ‫‪{{ ticket.created_at | formatDate }}
            ‬‬
          </p>
          <p class="ticket__status m-0">
            <span
              class="badge"
              :class="getStatusClass(ticket.status)"
              style="margin-left: 10px"
              >{{ ticket.status }}</span
            >
          </p>
        </div>
      </div>
      <h3 class="mt-5">Submit answer</h3>
      <div class="row m-0 p-0">
        <div class="col col-12">
          <form @submit.prevent="doSubmit">
            <div class="form-group">
              <label
                for="user"
                class="form-label"
                :class="{ 'error-color': errors.first('message') }"
                >Message</label
              >
              <textarea
                name="message"
                v-validate="'required'"
                type="text"
                placeholder="Message"
                v-model="message"
                rows="5"
                class="form-control"
                :class="{ 'input-border-error': errors.first('message') }"
                id="user"
              />
              <p v-if="errors.first('message')" class="error-text">
                {{ errors.first("message") }}
              </p>
            </div>

            <button
              type="submit"
              class="btn btn-primary form-btn"
              :disabled="loading || loadData || !message"
            >
              <span
                v-if="loading"
                class="spinner-border spinner-border-sm"
              ></span>
              Submit
            </button>
          </form>
        </div>
      </div>
      <h3 class="mt-5 text-center" v-if="ticket.answers.length">Answers</h3>
      <div class="row">
        <div
          class="col col-sm-6 col-12"
          v-for="(answer, index) in ticket.answers"
          :key="'answer' + index"
        >
          <div class="card ticket">
            <p class="ticket__title text-center">
              answer number {{ answer.id }}‬‬
            </p>

            <p class="card__body text-center">{{ answer.message }}‬‬</p>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      ticket: {
        id: 0,
        title: "",
        message: "",
        created_at: 0,
        answers: [],
      },
      loadData: true,
      message: "",
      loading: false,
      closeTicketLoading: false,
    };
  },
  created() {
    this.$store
      .dispatch("ticket/detail", this.$route.params.id)
      .then((res) => {
        this.ticket = res;
      })
      .catch((e) => {
        this.$alert.error(e);
      })
      .finally(() => {
        this.loadData = false;
      });
  },
  methods: {
    getStatusClass(status: string) {
      if (status === "pending") return "bg-secondary";
      else if (status === "closed") return "bg-danger";
      else return "bg-success";
    },
    doSubmit() {
      this.loading = true;
      this.$store
        .dispatch("ticket/addAnswer", {
          id: this.$route.params.id,
          message: this.message,
        })
        .then(() => {
          this.$alert.success(
            "<strong>Well done!</strong> answer submitted successfully"
          );
        })
        .catch(() => {
          this.$alert.error("Error in submit answer");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    closeTicket() {
      this.closeTicketLoading = true;
      this.$store
        .dispatch("ticket/closeTicket", this.$route.params.id)
        .then(() => {
          this.$alert.success("Ticket closed successfully");
          this.$router.push({ name: "tickets" });
        })
        .finally(() => {
          this.closeTicketLoading = false;
        });
    },
  },
});
</script>
<style scoped lang="scss">
.title {
  margin: 0 0 27px 0;
  font-family: HelveticaNeue;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.form-label {
  height: 18px;
  margin: 0;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--bs-gray-900);
}
.form-input {
  height: 40px;

  margin: 8px 0 0;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #818a91;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #818a91;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #818a91;
  }
}

.form-textarea {
  height: 207px;
  margin: 8px 0 0;
  border-radius: 4px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.form-btn {
  height: 40px;
  margin: 20px 0 14px;
  border-radius: 4px;
  border: solid 1px var(--water-blue);
  width: 99px;
}

.ticket {
  padding: 15px;

  &__title {
    font-weight: bold;
    line-height: 1.3;
    font-size: 18px;
  }
  &__body {
    padding: 0 10px;
  }
  &__date {
    font-size: 14px;
    text-align: right;
    color: var(--bs-gray-500);
  }
  &__status {
    text-align: right;
    color: var(--bs-gray-500);
    .badge {
      font-weight: 500;
    }
  }
}
</style>
