<template>
  <transition name="fade">
    <div
      class="absolute alert d-flex align-items-center justify-content-between"
      :class="alertType($store.state.alert.type)"
      v-if="$store.state.alert.show"
    >
      <span class="alert__text m-0" v-html="$store.state.alert.text"></span>
      <i @click="hideAlert" class="fas fa-times text-black alert_close"></i>
    </div>
  </transition>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from "vuex";
export default Vue.extend({
  computed: {
    ...mapGetters(["alert/getAlert"]),
    alertTypeClass(): string {
      return "";
    },
  },
  methods: {
    alertType(t: "success" | "error"): string {
      const typeClass = {
        success: "alert-success",
        error: "alert-danger",
      }[t];
      return typeClass;
    },
    hideAlert() {
      this.$store.dispatch("alert/hide");
    },
  },
});
</script>
<style scoped lang="scss">
@media only screen and (max-width: 576px) {
  .alert {
    width: 100% !important;
    left: 5px !important;
    right: 10px !important;
    top: 10px !important;
  }
}
.alert {
  width: 456px;
  height: 49px;
  padding: 11px 13px 14px 23px;
  border-radius: 3px;
  right: 30px;
  top: 80px;
  position: absolute;
  .alert_text {
    width: 377px;
    height: 19px;
    margin: 4px 32px 1px 0;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
  }

  .alert_close {
    width: 11px;
    height: 24px;
    margin: 0 0 0 32px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: var(--bs-gray-900);
    cursor: pointer;
  }
}
</style>
