<template>
  <div id="app" class="w-100">
    <router-view />
    <alert-component />
  </div>
</template>
<script lang="ts">
import AlertComponent from "@/components/AlertComponent.vue";
import Vue from "vue";
export default Vue.extend({
  components: { AlertComponent },
  created() {
    window.addEventListener("resize", this.updateSize);
  },
  destroyed() {
    window.removeEventListener("resize", this.updateSize);
  },
  methods: {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    updateSize(e: any) {
      this.$store.dispatch("setWidth", e.target.innerWidth);
    },
  },
});
</script>
<style>
#dropdown-id {
  width: 175px !important;
  height: 86px !important;
  margin: 0 0.5px 0 0 !important;
  border-radius: 4px !important;
  border: solid 1px #ddd !important;
  background-color: #fff !important;
}
</style>
