<template>
  <div>
    <div class="dashboard-header row m-0">
      <div class="col col-sm-9 col-10 align-self-center p-0">
        <i
          v-if="!menuActive"
          @click="menuActive = true"
          class="fas fa-bars text-white dashboard-header__menu-btn d-lg-none"
        ></i>
        <i
          v-else
          @click="menuActive = false"
          class="fas fa-times text-white dashboard-header__menu-btn d-lg-none"
        ></i>
        <span class="dashboard-header__title">Ticket System</span>
        <span v-if="screenWidth > 768" class="dashboard-header__welcome-user"
          >Welcome User</span
        >
      </div>
    </div>
    <div class="d-flex" style="height: calc(100vh - 60px)">
      <transition name="slide">
        <div v-if="screenWidth > 992 || menuActive" class="sidebar bg-primary">
          <p class="sidebar__title">Menu</p>
          <router-link
            @click="menuActive = false"
            :to="{ name: 'tickets' }"
            class="sidebar__menu-item text-white d-block"
          >
            <i class="fas fa-list"></i>
            Tickets List
          </router-link>
          <router-link
            @click="menuActive = false"
            :to="{ name: 'new-ticket' }"
            class="sidebar__menu-item text-white d-block"
          >
            <i class="fas fa-plus"></i>
            New Ticket
          </router-link>
        </div>
      </transition>
      <div class="main-content">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  computed: {
    username(): string {
      return this.$store.state.user.user.username;
    },
    screenWidth() {
      return this.$store.state.screenWidth;
    },
  },
  data() {
    return {
      menuActive: false,
    };
  },
});
</script>
<style scoped lang="scss">
.dashboard-header {
  width: 100%;
  height: 60px;
  padding: 10px 29px 10px 20px;
  background-color: var(--bs-gray-900);
  &__title {
    margin: 7px 20px 7px 0;
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    white-space: nowrap;
  }
  &__welcome-user {
    height: 18px;
    margin: 11px 0 11px 0;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__logout-btn {
    height: 40px;
    margin: 0;
    padding: 11px 18.7px 11px 18px;
    border-radius: 4px;
    border: solid 1px var(--bs-info);
    color: var(--bs-info);
    background-color: transparent;
    vertical-align: middle;
    padding: 11px 18.7px 11px 18px;
  }
  &__menu-btn {
    cursor: pointer;
    margin-right: 15px;
  }
}

.sidebar {
  width: 250px;
  height: 100%;

  margin: 0 0 0 0;

  &__title {
    height: 26px;
    margin: 13px 10px 16px 20px;
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__menu-item {
    margin: 16px 0;
    padding: 11px 34px;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  &__menu-item--active {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.main-content {
  padding: 24px 31px 24px 31px;
  width: calc(100% - 250px);
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 992px) {
  .main-content {
    width: 100% !important;
  }
  .sidebar {
    position: absolute;
    z-index: 10;
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateX(-500px);
}
</style>
