@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/helveticaNeue/helveticaneue.woff2") format("woff2"),
    url("../fonts/helveticaNeue/helveticaneue.woff") format("woff"),
    url("../fonts/helveticaNeue/helveticaneue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
