$kv-blue: #1c7cd5;
$kv-red: #d9534f;
$kv-cyan: #56c0e0;
$kv-yellow: #f0ad4e;
$kv-gray-300: #eceeef;
$kv-gray-400: #dddddd;
$kv-gray-500: #818a91;
$kv-gray-600: #777777;
$kv-gray-700: #707070;
$kv-gray-800: #55595c;
$kv-gray-900: #373a3c;
$kv-error: #cb2e25;
