@import "./variables";
@import "./fonts";


$blue: $kv-blue;
$red: $kv-red;
$cyan: $kv-cyan;
$yellow: $kv-yellow;
$gray-300: $kv-gray-300;
$gray-400: $kv-gray-400;
$gray-500: $kv-gray-500;
$gray-600: $kv-gray-600;
$gray-700: $kv-gray-700;
$gray-800: $kv-gray-800;
$gray-900: $kv-gray-900;

:root {
  --error: #cb2e25;
}

html,
body {
  box-sizing: border-box;
  font-family: HelveticaNeue !important;
}

a {
  text-decoration: none !important;
}

.error-color {
  color: var(--error) !important;
}
.input-border-error {
  border-color: var(--error) !important;
}

.btn-primary,
.btn-info,
.btn-success,
.btn-danger {
  color: white !important;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.disable-btn {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.error-text {
  height: 18px;
  margin: 9px 0 25px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--error);
}

@import "../../../node_modules/bootstrap/scss/bootstrap";
